body {
    height: 100%;
    font-family: Arial;
    margin: 0;
}

.app {
    height: 100%;
}

.header {
  color: white;
  padding: 0.5rem;
  background-color: #4b4d51;
}

.header-main-text {
    margin: 0 0.5rem 0 1rem;
    display: inline-block;
    font-size: 2rem;
}

.header-sub-text {
    display: inline-block;
    font-size: 0.75rem;
}

.progressBar {
    color: white;
    padding: 0.25rem;
    background-color: #5fbdfc;
}